{project_plugins, [erlfmt]}.

{erlfmt, [
    write,
    verbose,
    {files, [
        "*.erl",
        "rebar.config"
    ]}
]}.

{provider_hooks, [
    {pre, [{eunit, fmt}]}
]}.

{pre_hooks, [
    {eunit, "make clean"},
    {eunit, "make compile"}
]}.

{eunit_opts, [
    verbose,
    {print_depth, 64}
]}.

{eunit_tests, [
    {module, lesson3_task01},
    {module, lesson3_task02},
    {module, lesson3_task03},
    {module, lesson3_task04}
]}.
